name: Build and Deploy Spring Boot to AWS EC2

on:
  push:
    branches: [ feature/login ]
# 추가
env:
  PROJECT_NAME: Carhartt_platform
  BUCKET_NAME: storage-for-ci-cd
  CODE_DEPLOY_APP_NAME: for_CICD
  DEPLOYMENT_GROUP_NAME: for_CICD
# ---------------------
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Java JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

#      - name: Setup MySQL
#        uses: samin/mysql-action@v1
#        with:
#          character set server: 'utf8'
#          mysql database: 'rds'
#          mysql user: ${{user}}
#          mysql password: ${{password}}

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      - name: Make application-prod.properties
        if: contains(github.ref, 'main') # branch가 main 일 때
        run: |
          cd ./src/main/resources
          touch ./application-prod.properties
          echo "${{ secrets.APPLICATION_PROPERTIES }}" > ./application-prod.properties
        shell: bash

      - name: Build with Gradle
        run: ./gradlew build -x test
        shell: bash
    # 추가
      - name: Make Zip File
        run: zip -qq -r ./$GITHUB_SHA.zip .
        shell: bash

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.SECRET_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.ACCESS_KEY_ID }}
          aws-region: ap-northeast-2

      - name: Upload to S3
        run: aws s3 cp --region ap-northeast-2 ./$GITHUB_SHA.zip s3://$BUCKET_NAME/$PROJECT_NAME/$GITHUB_SHA.zip

      - name: Code Deploy
        run: aws deploy create-deployment --application-name $CODE_DEPLOY_APP_NAME --deployment-config-name CodeDeployDefault.OneAtATime --deployment-group-name $DEPLOYMENT_GROUP_NAME --s3-location bucket=$BUCKET_NAME,bundleType=zip,key=$PROJECT_NAME/$GITHUB_SHA.zip
# ---------------------